<p-panel header="Pipes customs" class="p-1">
  <p>Pipes Personalizados - creados por {{'NOSOTROS' | toggleCase:isUpperCase}}</p>


<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button
      label="ToogleCase"
      icon="pi pi-search"
      class="mr-2"
      (click)="toogleUpperCase()">
    </p-button>
  </div>
  <div class="p-toolbar-group-end">

      <p-button label="Por nombre" icon="pi pi-sort" styleClass="p-button-success" class="mr-2" (onClick)="changeOrder('name')"></p-button>
      <p-button label="Por Volar" icon="pi pi-sort" styleClass="p-button-danger" class="mr-2" (onClick)="changeOrder('canFly')"></p-button>
      <p-button label="Por Color" icon="pi pi-sort" styleClass="p-button-help" class="mr-2" (onClick)="changeOrder('color')"></p-button>
  </div>
</p-toolbar>

<div class="grid">
  <div class="col mt-2">


  <p-panel header="Heroes">
  <p-table [value]="heroes |sortBy:orderBy" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr>
              <th>Nombre</th>
              <th>Vuela</th>
              <th>Color</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-heroe>
          <tr>
              <td>{{ heroe.name }}</td>
              <td>{{ heroe.canFly|canfly |titlecase }}</td>
              <td>{{ heroe.color }}</td>
          </tr>
      </ng-template>
  </p-table>
</p-panel>

  </div>
</div>
</p-panel>


